<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rescate de Patitas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

{{> nav.hbs}}

<!--Notificaciones-->
<div class="w-100 mt-3 errMessage errMessage centrar" style="display:none;">
    <a id="error" style="font-size: medium !important; font-weight: bold !important; color: black !important;"></a>
</div>
<div class="w-100 mt-3 okMessage okMessage" style="display:none;">
    <a id="msg" style="font-size: medium !important; font-weight: bold !important; color: white !important;"></a>
</div>

{{#if usuarioLogueado}}
    <div class="col-sm-12">
    <h1 class="text-center text-black" style="margin-top: 25px; margin-bottom: 25px;">Bienvenido al Sistema!</h1>
    </div>
{{/if}}
    <img src="images/login.png" class="img-responsive center-block" style="width: 70%" />
</body>
</html>