<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Rescate con chapita</title>
    <style> #map {
        height: 500px;
        width: 50%:
    }
    </style>
</head>
<body>

{{> nav.hbs}}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="container">
            <h1>Registro de mascota perdida</h1>
            <br>
            <form action="notificarDuenio/{{mascota.id}}" method="post">
                <h2>Ingrese sus datos</h2>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" class="form-control" name="nombrePersona" id="nombrePersona">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellido</label>
                        <input type="text" class="form-control" name="apellidoPersona" id="apellidoPersona">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="inputEfmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">DNI</label>
                        <input type="number" class="form-control" name="dni" id="dni">
                    </div>
                    <br>
                </div>
                <h3>Ingrese datos de contacto</h3>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" class="form-control" name="nombreContacto" id="nombreContacto">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellido</label>
                        <input type="text" class="form-control" name="apellidoContacto" id="apellidoContacto">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control"name="email" id="email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Telefono</label>
                        <input type="number" class="form-control"name="telefono" id="telefono">
                    </div>
                </div>
                <br>
                <div>
                    <label for="inputEmail4">Formas de notificacion</label>
                    <select class="form-select" name="notificacion" aria-label="Default select example">
                        <option selected>Seleccionar</option>
                        <option value="1">Email</option>
                        <option value="2">Whatssap</option>
                        <option value="3">SMS</option>
                    </select>
                </div>
                <h2>Ingrese los datos de la mascota</h2>
                <br>
                <!--            Datos mascota rescatada              -->
                <BR>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombreMascota">Direccion donde se encontro</label>
                        <input type="text" class="form-control" name="direccion" id="direccion">
                    </div>
                </div>
                <br>
                <div id="map">  </div>
                <!--           AIzaSyDoMGmJNzS9hI8_NvXnaTpgD37w4dWs7AE          -->
                <script>
                        let markers = [];
                        function initMap() {
                          const myLatlng = { lat: -34.6083, lng: -58.3712 };
                          const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 10,
                            center: myLatlng,
                          });

                          map.addListener("click",  (mapsMouseEvent) => {
                            for (let i = 0; i < markers.length; i++) {
                            markers[i].setMap(null);  }
                           markers = [];
                           document.getElementById('latitud').value = mapsMouseEvent.latLng.lat();
                           document.getElementById('longitud').value = mapsMouseEvent.latLng.lng();
                           const marker = new google.maps.Marker({
                            position: mapsMouseEvent.latLng,
                            map,
                          });
                          markers.push(marker);
                          });
                        }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoMGmJNzS9hI8_NvXnaTpgD37w4dWs7AE&callback=initMap"> </script>
                <br>
                <br>
                <div class="form-row">
                    <label for="exampleFormControlTextarea1">Latitud</label>
                    <textarea class="form-control" name="latitud" id="latitud" rows="1" readonly></textarea>
                </div>
                <div class="form-row">
                    <label for="exampleFormControlTextarea1">Longitud</label>
                    <textarea class="form-control" name="longitud" id="longitud" rows="1" readonly></textarea>
                </div>
                <div class="form-row">
                    <label for="exampleFormControlTextarea1">Descripcion del estado de mascota</label>
                    <textarea class="form-control" name="descripcion" id="descripcion" rows="3"></textarea>
                </div>
                <br>
                <div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="customFile">Subir foto de mascota rescatada</label>
                        <input type="file" class="custom-file-input" name="foto" id="customFile">
                    </div>
                </div>
               <br>
        <button type="submit" class="btn btn-primary">Enviar y notificar dueño</button>
        </form>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
</div>
</body>
</html>