<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login.estilos.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Agregar pregunta single choice</title>
</head>
<body>

{{> nav.hbs}}

<div class="main_container">
    <br><br>
    <h1 align="center">
    <h1> Ingrese la descripcion de la pregunta</h1>
        <br>
        <form action="agregarPreguntaSingleChoice" method="post" class="form-">
            <div class="form-group">
                <label>Descripcion de pregunta</label>
                <input class="form-control" name="pregunta_single_choice">
        <h1 align="center">
        <h1> Ingrese las opciones de la pregunta</h1>
                <br>
                <label>Opcion 1:</label>
                <input class="form-control" name="pregunta_opcion1">
                <label>Opcion 2:</label>
                <input class="form-control" name="pregunta_opcion2">
                <label>Opcion 3:</label>
                <input class="form-control" name="pregunta_opcion3">
                <label>Opcion 4:</label>
                <input class="form-control" name="pregunta_opcion4">


            </div>

            <button type="submit">Ingresar</button>
        </form>
        <br><br>
        <p class="lead">
            <a href="/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Volver al home</a>
        </p>
    </h1>
    </div>

</div>
</body>
</html>