<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{{> nav.hbs}}

{{#if usuarioLogueado}}
    <div class="col-sm-12">
        <h1 class="text-center text-black" style="margin-top: 25px; margin-bottom: 25px;">Bienvenido al Sistema!</h1>
    </div>
    <img src="images/login.png" class="img-responsive center-block" style="width: 70%" />
{{else}}
    <img src="images/home.png" class="img-responsive center-block" style="width: 65%" />
{{/if}}
</body>
</html>