<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{{> nav.hbs}}

<div class="main_container">
    <br><br>
    <div align="center">
        <form action="/login" method="post" class="form-">
            <div class="form-group">
                <label>Nombre de usuario</label>
                <input class="form-control" name="nombreDeUsuario">
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" name="contrasenia" type="password">
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </div>

</div>
</body>
</html>