<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login.estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Ingreso</title>
</head>
<body>

{{> nav.hbs}}

<div class="wrapper">
    <div class="col-sm-12">
        <h3 class="text-center text-black" style="margin-top: 25px; margin-bottom: 25px;">LOGIN</h3>
    </div>

    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="images/login.png" id="icon" alt="User Icon" style="width: 100%" />
        </div>
        <!-- Login Form -->
        <form action="/login" method="post">
            <input id="usuario" type="text" class="fadeIn second" name="nombreDeUsuario" placeholder="Ingrese Usuario">
            <input id="password" type="password" class="fadeIn third" name="contrasenia" placeholder="Ingrese Contraseña">
            <input type="submit" class="fadeIn fourth" value="Ingresar">
        </form>
    </div>
</div>
</body>
</html>