<nav class="navbar navbar-inverse" style="border-radius: 0px !important; margin-bottom: 0px !important;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">Rescate de Patitas</a>
        </div>
        <ul class="nav navbar-nav">

            {{#if esAdmin}}
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administración <span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../usuarios">Usuarios</a></li>
                        <li><a href="../agregarCaracteristica">Agregar Caracteristica</a></li>
                    </ul>
                </li>
            {{/if}}
            <li><a href="../organizaciones">Organizaciones</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Mascotas<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                <!--<li><a href="registrarMascota">Registrar Mascota</a></li>-->
                    <li><a href="../buscarHogar">Buscar Hogar</a></li>
                    <li><a href="../darEnAdopcion">Dar en adopción</a></li>
                </ul>
            </li>
            <li><a href="../adoptarMascota">Adoptar Mascota</a></li>
            <li><a href="../registrarMascota">Registrar Mascota</a></li>
            <li><a href="../rescateSinChapita">Rescaté una Mascota</a></li>
            <li><a href="../publicacionesMascotaPerdida">Test Publi Masc Perdida</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if usuarioLogueado}}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> ¡Hola {{usuarioLogueado.usuario}}!</a>
                </li>
                <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
            {{else}}
                <li><a href="../registrarUsuario"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
                <li><a href="../login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
            {{/if}}
        </ul>
    </div>
</nav>






