<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Rescate de Patitas</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#home">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Organizacion <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Quiero ser voluntario</a></li>
                    <li><a href="#">Quiero adoptar</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Animalitos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#registroMascota">Registrar mascota</a></li>
                    <li><a href="#">Buscar hogar de transito</a></li>
                    <li><a href="#">Quiero dar en adopcion</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>
            <li><a href="#">Mis mascotas</a></li>
            <li><a href="#">Animalitos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Quiero registrarme</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
        </ul>
    </div>
</nav>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="container">
            <h1>Registro de mascota</h1>
            <br>
            <form action="validarPersona" method="post">
                <h2>¿Ya ingresaste tus datos personales alguna vez?</h2>
                <br>

                <label><i class="fas fa-user"></i> DNI </label>
                <br>
                <input type="text" name="dni"  id="dni" class="input-datos" placeholder="Ingrese su DNI">
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <br>
                <br>
            </form>
            <button type="button" class="btn btn-secondary">No, nunca</button>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
</div>

</body>
</html>