<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{{> nav.hbs}}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="container">
            <h1>Registro de mascota</h1>
            <br>
            <form action="validarPersona" method="post">
                <h2>¿Ya ingresaste tus datos personales alguna vez?</h2>
                <br>

                <label><i class="fas fa-user"></i> DNI </label>
                <br>
                <input type="text" name="dni" id="dni" class="input-datos" placeholder="Ingrese su DNI">
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <br>
                <br>
            </form>
            <button type="button" class="btn btn-secondary">No, nunca</button>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
</div>

</body>
</html>