<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login.estilos.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Contactar Rescatista</title>
</head>
<body>

{{> nav.hbs}}
<div class="tab-content">
    <div class="container">
        <br><br>
        <h1 align="center">
            <h1>Complete el siguiente formulario para que el sistema le mande un mensaje al rescatista con sus datos</h1>
            <br>
            <form action="../contactarRescatista/{{idPubli}}" method="post" class="form-">

                <h2>Ingrese sus datos, pero solo el DNI si ya los habías ingresado anteriormente</h2>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" class="form-control" name="nombrePersona" id="nombrePersona"{{#if
                                personaUsuaria}} value="{{personaUsuaria.nombre}}" readonly {{/if}}>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellido</label>
                        <input type="text" class="form-control" name="apellidoPersona" id="apellidoPersona"{{#if
                                personaUsuaria}} value="{{personaUsuaria.apellido}}" readonly {{/if}}>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="inputEfmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">DNI</label>
                        <input type="number" class="form-control" name="dni" id="dni"{{#if
                                personaUsuaria}} value="{{personaUsuaria.documento}}" readonly {{/if}}>
                    </div>
                    <br>
                </div>
                <h3>Ingrese datos de contacto, no es necesario si ya cargaste alguno anteriormente</h3>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" class="form-control" name="nombreContacto" id="nombreContacto">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellido</label>
                        <input type="text" class="form-control" name="apellidoContacto" id="apellidoContacto">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control"name="email" id="email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Telefono</label>
                        <input type="number" class="form-control"name="telefono" id="telefono">
                    </div>
                </div>
                <br>
                <div>
                    <label for="inputEmail4">Formas de notificacion</label>
                    <select class="form-select" name="notificacion" aria-label="Default select example">
                        <option value="1">Email</option>
                        <option value="2">Whatssap</option>
                        <option value="3">SMS</option>
                    </select>
                </div>

                <button type="submit">Contactar rescatista</button>
            </form>
            <br><br>
            <button href="/" type="submit" class="btn btn-primary">Volver al home</button>
        </h1>
    </div>

    </div>
</div>
</body>
</html>