<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{{> nav.hbs}}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="container">
            <h1>Registro de mascota</h1>
            <br>
            <form action="registrarMascota/{{persona.id}}" method="post">

                <h3>Ingrese datos de contacto</h3>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="inputEdfmail4">
                    </div>
                <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="inputPasdsword4">
                </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control"name="email" id="inputEdmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Telefono</label>
                        <input type="text" class="form-control"name="telefono" id="inputPassdword4">
                    </div>
                </div>

                <div>
                    <label for="inputEmail4">Formas de notificacion</label>
                    <select class="form-select" name="notificacion" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">Email</option>
                        <option value="2">Whatssap</option>
                        <option value="3">SMS</option>
                    </select>
                </div>
                <br>
                <h2>Ingrese los datos de la mascota</h2>
                <br>
<!--            Datos mascota               -->

                    <div>
                        <label for="inputEmail4">Mi mascota es: </label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">Perro</option>
                            <option value="2">Gato</option>
                        </select>
                    </div>
                    <BR>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombreMascota">Nombre</label>
                            <input type="text" class="form-control" name="nombreMascota" id="nombreMascota">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apodo">Apodo</label>
                            <input type="text" class="form-control" name="apodo" id="apodo">
                        </div>
                    </div>
                    <br>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="edad">Edad Aproximada</label>
                                <input type="text" class="form-control"  name="edad"  id="edad">
                            </div>
                            <div>
                                <label>Sexo</label>
                                <select class="form-select" name="sexo" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">Macho</option>
                                    <option value="2">Hembra</option>
                                </select>
                            </div>
                        </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-row">
                        <label for="exampleFormControlTextarea1">Descripcion</label>
                        <textarea class="form-control" name="descripcionFisica" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <br>

                {{#each caracteristicas}}

                       <br>
                        <div class="form-row">
                            <label for="nombreMascota">{{descripcion}}</label>
                            <input type="text" class="form-control" name="{{descripcion}}" id="{{descripcion}}">
                        </div>

                {{/each}}
                <br>

                    <div>
                        <div class="custom-file">
                            <label class="custom-file-label" for="customFile">Subir imagen</label>
                            <input type="file" class="custom-file-input" id="customFile">

                        </div>
                    </div>
                    <br>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
</div>

</body>
</html>