<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <!--<img src="/img/untlogo.png" alt="utn logo" class="utnLogo">-->
    <div>
        <!--<img src="/img/logosolo.png" alt="diseniologo" style="">-->
        <p>Rescate de Patitas</p>
    </div>
</header>

{{> nav.hbs}}

<div class="main_container">
    <br><br>
    <div align="center">
        <form action="/registrar" method="post" class="form-">
            <div class="form-group">
                <label>Nombre de usuario</label>
                <input class="form-control" name="nombreDeUsuario">
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" name="contrasenia" type="password">
            </div>
            <button type="submit">Registrar</button>
        </form>
    </div>
</div>
</body>
</html>