<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{{> nav.hbs}}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="container">
            <h1>Registro de persona</h1>
            <br>
            <form action="registrarPersona" method="post">
                <h2>Ingrese sus datos</h2>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre">
                    </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="inputPassword4">
                </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="inputEfmail4">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">DNI</label>
                    <input type="text" class="form-control" name="dni" id="inputPafssword4">
                </div>
                <br><br>

                    <br>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
</div>

</body>
</html>